body {
    background: url(images/stripe_blue.png) top repeat;
    background-color: #000000;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#container {
    margin: 0 auto;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    background: url(images/stripe_white.png) top repeat;
    background-color: #ffffff;
    border: 2px solid #000000;
}

#header {
    position: relative;
    margin: 0px;
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    #border: 1px dotted navy;
}

#status {
    position: relative;
    margin: 0px;
    padding-top: 1em;
    padding-right: 10px;
    text-align: right;
    font-size: 0.8em;
    #border: 1px dotted navy;
}

#scriptstatus {
    position: relative;
    margin: 0px;
    text-align: right;
    font-size: 0.8em;
}

#time {
    position: relative;
    color: white;
    font-size: 0.7em;
    left: -1em;
    background-color: black;
}

#time2 {
    position: relative;
    color: black;
    font-size: 0.7em;
    left: -1em;
}

#useractivity {
    position: relative;
    margin-top: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 0.8em;
    background-color: #d0d0ff;
    #border: 1px dotted navy;
}

#outbid {
    position: relative;
    margin-top: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 0.8em;
    background-color: #ffd0d0;
    #border: 1px dotted navy;
}

#closed {
    position: relative;
    margin-top: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 0.8em;
    background-color: #d0ffd0;
    #border: 1px dotted navy;
}

#feedback {
    position: relative;
    margin-top: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 0.8em;
    background-color: #ffaa55;
    #border: 1px dotted navy;
}

#bidhistory {
    position: relative;
    margin-top: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 0.8em;
    background-color: #d0d0d0;
    #border: 1px dotted navy;
}

#outbid_hide {
    position: relative;
    float: right;
    text-align: right;
    font-size: 1.4em;
}

#content #outbid #outbid_hide  a {
    font-family: sans-serif;
    font-size: 1em;
    font-variant: small-caps;	
    color: black;
    text-decoration: none;
}

#navbar {
    float: left;
    position: relative;
    margin: 0px;
    padding-top: 1em;
    padding-left: 10px;
    text-align: left;
    #border: 1px dotted navy;
    width: 140px;
    font-size: 0.9em;
}

#navbar ul {
    position: relative;
    margin: 0px;	
    padding: 0px;
    list-style: none;	
}

#navbar li {
}

#navbar li a {
    position: relative;
    color: #5A58F8;
    font-family: Verdana;
    font-variant: small-caps;
    text-decoration: none;
}

#navbar li a:hover {
    text-decoration: none;
    color: #000000;
}

#content {
    position: relative;
    color: #000000;
    font-family: serif;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    margin-left: 150px;
    margin-right: 10px;
    padding-top: 1em;
    #border: 1px dotted navy;
    min-height: 500px;
    padding-bottom: 30px;
}

#content a {
    font-family: sans-serif;
    font-size: 1em;
    font-variant: small-caps;	
    color: #5A58F8;
    text-decoration: none;
}

#content a:hover {
    text-decoration: none;
    color: #000000;
}

#heading {
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    left: 0em;
    font-family: sans-serif;
    font-size: 1.4em;
    font-variant: small-caps;
    font-weight: bold;
}

#heading2 {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    margin-right: 1em;
    left: 1em;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #0000AA;	
}

#smalltext {
    position: relative;
    left: 0em;
    font-family: serif;
    font-size: 0.8em;
    font-style: italic;
    color: navy;
    max-width: 30em;
}

#footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 5em;
    max-width: 20%;
    font-size: 0.8em;
    color: #0704C7;
    background-color: #D4D4D4;	
}

table.tbl_std {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;
    position: relative;
    top: 30px;	
    width: 580px;
}

table.tbl_std a {
    color: #5A58F8;
    text-decoration: none;
}

table.tbl_std a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.tbl_std td{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid navy;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

tbody.tbl_std {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.tbl_std td {
    font-size: 0.8em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.tbl_std img {
    max-width: 20px;
    border: 0px;
}






table.category_listing {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;
    position: relative;
    top: 30px;	
    width: 580px;
}

table.category_listing a {
    color: #5A58F8;
    text-decoration: none;
}

table.category_listing a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.category_listing td{
    font-size: 0.8em;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid navy;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-align: center;
}

tbody.category_listing {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.category_listing td {
    font-size: 0.7em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.category_listing img {
    max-width: 20px;
    border: 0px;
}





table.itemlisting {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;	
}

table.itemlisting a {
    color: #5A58F8;
    text-decoration: none;
}

table.itemlisting a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.itemlisting td{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid navy;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

tbody.itemlisting {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.itemlisting td {
    font-size: 0.8em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.itemlisting img {
    max-width: 200px;
    border: 0px;
}




table.user_database {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;	
    min-width: 580px;
}

table.user_database a {
    color: #5A58F8;
    text-decoration: none;
}

table.user_database a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.user_database td{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid navy;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

tbody.user_database {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.user_database td {
    font-size: 0.8em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.user_database img {
    max-width: 200px;
    border: 0px;
}



table.user_activity_database {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;	
}

table.user_activity_database a {
    color: #5A58F8;
    text-decoration: none;
}

table.user_activity_database a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.user_activity_database td{
    background-color: #000000;
    color: #ffffff;;
    border: 2px solid navy;
    padding-right: 0.2em;
    padding-left: 0.2em;
    text-align: center;
}

tbody.user_activity_database {
}

tbody.user_activity_database td {
    font-size: 0.7em;
    padding-right: 1em;
    padding-left: 0.2em;
    border-collapse: separate;
}

tbody.user_activity_database img {
    max-width: 200px;
    border: 0px;
} 


table.item_listing_database {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;	
    min-width: 580px;
}

table.item_listing_database a {
    color: #5A58F8;
    text-decoration: none;
}

table.item_listing_database a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.item_listing_database td{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid navy;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

tbody.item_listing_database {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.item_listing_database td {
    font-size: 0.8em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.item_listing_database img {
    max-width: 200px;
    border: 0px;
}







table.bidding_database {	
    padding: 0px;
    margin: 0px auto;
    border-collapse: collapse;	
}

table.bidding_database a {
    color: #5A58F8;
    text-decoration: none;
}

table.bidding_database a:hover{
    color: #000000;
    text-decoration: underline;
}

thead.bidding_database td{
    background-color: #000000;
    font-size: 0.8em;
    color: #ffffff;
    border: 1px solid navy;
    padding-right: 0.1em;
    padding-left: 0.1em;
    text-align: center;
}

tbody.bidding_database {
    border-left: 1px dotted navy;
    border-right: 1px dotted navy;
}

tbody.bidding_database td {
    font-size: 0.7em;
    border-bottom: 1px dotted navy;
    padding-right: 1em;
    padding-left: 1em;
    border-collapse: separate;
}

tbody.bidding_database img {
    max-width: 200px;
    border: 0px;
}

#home-img{

    left:135px;
    position:relative;
    top:80px;
}

#home-img img{
#    border: 1px dotted navy;
 
}

